database/*
venv/*
BERTopic/*
model/*

logs/debug.log
logs/error.log

logs/server/debug.log
logs/server/error.log

logs/tasks/debug.log
logs/tasks/error.log


learning/*
documentation/reveal/**/*

/media/profile_pics/*
/media/institution_pics/*
/media/sa_flow_pics/*
