database/postgres/data/*
database/sqlite/*
database/postgres/*
database/docker/*
database/migrations/*
/database/media/profile_pics/*.jpg
/database/media/institution_pics/*.jpg
/database/media/sa_flow_pics/*.jpg

venv/*
BERTopic/*
model/*


logs/*
logs/debug.log
logs/error.log

logs/server/debug.log
logs/server/error.log

logs/tasks/debug.log
logs/tasks/error.log

learning/*
documentation/reveal/**/*


