boto3==1.9.96
botocore==1.12.96
certifi==2018.10.15
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.7
django-crispy-forms==1.9
django-storages==1.7.1
docutils==0.14
gunicorn==19.9.0
idna==2.7
jmespath==0.9.3
Pillow==8.1.0
python-dateutil==2.8.0
pytz==2018.5
s3transfer==0.2.0
whitenoise==4.1.2
django-background-tasks==1.1.13
django-reset-migrations==0.4.0
six<2.0.0
django-utils-six==2.0
django-countries==7.1
searchtweets-v2==1.0.7
searchtweets==1.7.6
django-extensions==3.1.1
cx_freeze==6.5.3
pytest==5.2.0
pytest-cov==2.5.1
pytest-dependency==0.5.1
requests==2.24.0
googletrans==3.1.0a0
python-twitter==3.5
numpy
djutils==1.0.13
TwitterAPI==2.7.5
pandas
django-treenode==0.17.0
mysqlclient==2.0.3
django-debug-toolbar==3.2.2
nltk~=3.6.2
PyYAML~=5.3.1
django-pandas==0.6.4
spacy==3.1.2
gensim==4.1.0
tqdm==4.62.2
ipython-cache==0.2.6
sentence-transformers
bertopic==0.9.1
djangorestframework==3.12.4
drf-renderer-xlsx==0.4.1
psycopg2
