boto3
Django==3.1.7
django-crispy-forms==1.9
django-storages==1.7.1
Pillow==8.1.0
django-background-tasks==1.2.5
django-reset-migrations==0.4.0
django-utils-six==2.0
django-countries==7.1
django-extensions==3.1.1
django-debug-toolbar==3.2.2
PyYAML
tqdm==4.62.2
openpyxl==3.0.10
djangorestframework==3.12.4
drf-renderer-xlsx==0.4.1
pandas~=1.5.3
django-pandas==0.6.6
django-filter==21.1
twarc==2.8.0
praw==7.7.0
google-api-python-client
psycopg2-binary
networkx~=2.8
neo4j~=4.4.2
matplotlib~=3.4.3
scipy~=1.7.1
germansentiment~=1.0.7
googletrans~=3.1.0a0
xmltodict
Mastodon.py
tweepy
nltk
BeautifulSoup4