{% extends "mt_study/mt_base.html" %}
{% block content %}
    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Moderation Strategies</title>
</head>
<body>
  <h1>Moderation Strategies</h1>

  <section>
    <h2>Emotion Control</h2>
    <p>
      Emotion control involves encouraging respectful and positive interactions while discouraging hostile or offensive behavior.
    </p>
    <p>Example:</p>
    <blockquote>
      "Please remember to maintain a respectful tone in your comments."
    </blockquote>
      <blockquote>
          "Calm down! Insulting people does not help anyone... "
      </blockquote>
  </section>

  <section>
    <h2>Norm Control</h2>
    <p>
      Norm control refers to establishing and enforcing the community guidelines and rules to maintain a healthy and inclusive discussion environment.
    </p>
    <p>Example:</p>
    <blockquote>
      "One should refrain from using offensive language towards minorities."
    </blockquote>
      <blockquote>
      "It is not ok to frame sex workers just because of their profession."
    </blockquote>
  </section>

  <section>
    <h2>Elaboration Support</h2>
    <p>
      Elaboration support involves encouraging participants to provide more detailed explanations or reasoning for their opinions or claims.
    </p>
    <p>Example:</p>
    <blockquote>
      "Could you please elaborate on your point about XYZ? It would help us understand your perspective better."
    </blockquote>
     <blockquote>
      "When you are saying XYZ, what is your assumption?"
    </blockquote>
  </section>

  <section>
    <h2>Consensus Seeking</h2>
    <p>
      Consensus seeking aims to promote understanding and collaboration by encouraging participants to consider and respect each other's viewpoints.
    </p>
    <p>Example:</p>
    <blockquote>
      "You guys should consider each other's perspectives and try to find common ground."
    </blockquote>
    <blockquote>
      "You guys should listen to each other more."
    </blockquote>
      <blockquote>
          (Real) Example: Somehow it always seems to be all or nothing on reddit. Either keep up the empire or abandon all international commitments. Is there nothing in between?
      </blockquote>

  </section>

  <section>
    <h2>Agenda Control</h2>
    <p>
      Agenda control involves guiding the discussion back to the main topic and preventing conversations from going off on unrelated tangents.
    </p>
    <p>Example:</p>
    <blockquote>
      "Please stay on the topic at hand to ensure a focused discussion!"
    </blockquote>
      <blockquote>
      "Please don't switch the topic or use whataboutism!"
    </blockquote>
  </section>

</body>
</html>

{% endblock content %}