{% extends "blog/base.html" %}

{% block content %}
    <h3>Migration Downloads</h3>
    <a href="{{ request.path }}../../rest/migration/tweets_text/conversation_ids">TXT ids</a>
    <br>
    <a href="{{ request.path }}../../rest/migration/tweets_zip/all/both">Excel all</a>
    <br>
    <a href="{{ request.path }}../../rest/migration/tweets_json">JSON all</a>
    <br>
    <h3>Moderation Mining Downloads</h3>
    <a href="{{ request.path }}../../rest/moderation_mining/tweets_text/all">Get all shortened conversations</a>
    <br>
    <a href="{{ request.path }}../../rest/moderation_mining/tweets_text/conversation_ids">TXT ids</a>
    <br>
    <a href="{{ request.path }}../../rest/moderation_mining/tweets_zip/all/both">Excel all</a>
    <br>
    <a href="{{ request.path }}../../rest/moderation_mining/tweets_json">JSON all</a>
{% endblock content %}

