{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">


        <strong>Root post: {{ root_tweet }} </strong>
        </br>
        </br>
        {% for context_text in conversation %}
            {% if context_text == text %}
                <span class="text-success">
                >> {{ context_text }}
                </span>
            {% else %}
                >> {{ context_text }}
            {% endif %}
            </br>
            </br>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Rate moderating statements.</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}