{% extends "blog/base.html" %}
{% block content %}

    <h4>Processing Query {% firstof simple_request.title %} ...</h4>
    <ul>
        {% for task in tasks %}
            <li>
                {% if "download" in task.task_name %}
                    <span> Downloading Tweets ..., {{ tweets_downloaded }} tweets downloaded.  </span>
                {% elif "sentiment" in task.task_name %}
                    {{ tweets_downloaded }} tweets downloaded.
                    <span> Analyzing Sentiments in Tweets ...
                         </span>
                {% elif "flow" in task.task_name %}
                    {{ tweets_downloaded }} tweets downloaded.
                    {{ tweets_downloaded }} sentiments tweets analyzed.
                    <span> Analyzing the Conversation Flow ...
                          </span>
                {% else %}

                {% endif %}
            </li>

        {% endfor %}
    </ul>

    <script>
        window.setTimeout(function () {
            window.location.reload();
        }, 10000);
    </script>
{% endblock content %}

