{% extends "blog/base.html" %}
{% block content %}

    <h4>Processing Query {% firstof simple_request.title %} ...</h4>
    <ul>
        {% for task in tasks %}
            {% if "download" in task.task_name %}
                <li>
                    Downloading Tweets ... , {{ tweets_downloaded }} tweets downloaded.
                <li>
            {% elif "author" in task.task_name %}
                <li> {{ tweets_downloaded }} tweets downloaded.</li>
                <li> Downloading author details ..., {{ authors_downloaded }} / {{ tweets_downloaded }} authors
                    downloaded
                </li>
            {% elif "sentiment" in task.task_name %}
                <li> {{ tweets_downloaded }} tweets downloaded.</li>
                <li>Downloaded author details, {{ authors_downloaded }} / {{ tweets_downloaded }} authors
                    downloaded
                </li>
                <li> Analyzing Sentiments in Tweets ...</li>
            {% elif "flow" in task.task_name %}
                <li> {{ tweets_downloaded }} tweets downloaded.</li>
                <li>Downloaded author details, {{ authors_downloaded }} / {{ tweets_downloaded }} authors
                    downloaded
                </li>
                <li> Analyzing the Conversation Flow ... </li>
            {% else %}
                A problem has occurred! Contact Julian!
            {% endif %}

        {% endfor %}
    </ul>

    <script>
        window.setTimeout(function () {
            window.location.reload();
        }, 20000);
    </script>
{% endblock content %}

